.header {
    padding-top: 1.25em;
    margin-left: 9.75em;
    padding-bottom: 0.35em;
    width: 100%;
    font-size: 1.8em;
    font-weight: 600;
    color: #030D2A;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(195, 191, 167);
    position: fixed;
    background-color: white;
    z-index: 1;
}

.RightSection {
    padding: 1em;
    margin-left: 63em;
    min-width: 15em;
}


.LeftSection {
    padding: 1em;
    padding-top: 6em;
    margin-left: 17.5em;
    width: calc(75vw - 17.5em);
    border-color: rgb(195, 191, 167);
    border-right-style: solid;
    border-width: 1px;
}

.DivList {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}


.AddButton {
    background-color: #ffffff;
    color: #030D2A;
    border-radius: 40px;
    border: solid;
    border-color: #030D2A;
    width: 10em;
    height: 2.5em;
    font-size: 1em;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 1em;
    font-family: 'Outfit', sans-serif;
    margin-right: 2em;
}

.AddButton:hover {
    background-color: #030D2A;
    color: #ffffff;
    border-radius: 40px;
    border: solid;
    border-color: #030D2A;
    width: 10em;
    height: 2.5em;
    font-size: 1em;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 1em;
    font-family: 'Outfit', sans-serif;
    transition: 0.25s;
}

.OrderListTitle{
    font-size: 2em;
    font-weight: 600;
    color: #030D2A;
    margin-top: 1em;
    font-family: 'Outfit', sans-serif;
    text-align: center; 
    height: 100%;
}