@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.list .box {
    height: 10em;
    width: 100%;;
}

.box .overlap-group {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 4px 10px #00000009;
    position: relative;
    padding: 15px;
    margin-right: 2em;

}

.box .overlap-group:hover {
    background-color: #f9f9f9;
    box-shadow: 1px 4px 10px #0000002f;
    cursor: pointer;
}

.box .orderCompanyAbbreviation {
    height: 80px;
    width: 80px;
    box-shadow: 1px 4px 10px #00000013;
    border-radius: 30%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 42px;
    top: 50%; 
    transform: translate(-50%, -50%); 
    color: #030D2A;
    font-family: Outfit, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.box .orderName {
    color: #030D2A;
    font-family: Outfit, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 100px;

}

.box .orderDescription {
    color: #959595;
    font-family: Outfit, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 3px;
}

.box .orderDeadline {
    color: #959595;
    font-family: Outfit, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 4px;
}

.box .orderCompany {
    color: #030d2ad3;
    font-family: Outfit, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-left: 101px;
    margin-BOTTOM: 2px;
}


h2{
    color: #030D2A;
}