@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.BG {
    position: fixed;
    top: -7.5em;
    left: -5em;
    width: 100%;
    min-height: 112.5vh;
    z-index: -1;
    background-size: cover;
}

.cms,
.logo,
.loginLP,
.registerLP {
    animation: fadein 2s;
}

.cms {
    position: fixed;
    top: 20%;
    right: 15em;
    width: 45em;
    height: auto;
    z-index: 1;
    background-repeat: no-repeat;
}

.logo {
    position: fixed;
    bottom: 3em;
    right: 3em;
    width: 11%;
    z-index: 1;
    height: auto;
    background-repeat: no-repeat;
}

.loginLP,
.registerLP {
    position: fixed;
    width: 5em;
    top: 38em;
    z-index: 2;
    padding: 7.5px 20px;
    color: #FFF;
    font-style: normal;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    font: 1.2em 'Outfit', sans-serif;
    font-weight: 600;
    animation: fadein 2s;
}

.loginLP {
    right: 13em;
    background-color: #959595;
    border: 2px solid #959595;
}

.registerLP {
    right: 23em;
    background-color: #030D2A;
    border: 2px solid #FFF;
}

.loginLP:hover,
.registerLP:hover {
    background-color: #FFF;
    color: #030D2A;
    border-color: white;
}

a:hover {
    color: #030D2A;
}

a {
    color: #FFF;
    font-style: bold;
    text-decoration: none;
}

.Rectangle1 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (max-width: 768px) {

    .BG,
    .cms,
    .logo {
        position: static;
        width: auto;
    }

    .cms,
    .logo {
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
    }

    .loginLP,
    .registerLP {
        width: auto;
        top: auto;
        right: 10%;
        font-size: 1em;
    }

    .loginLP {
        bottom: 60px;
    }

    .registerLP {
        bottom: 20px;
    }

    .Rectangle1 {
        min-height: 100vh;
    }
}