/* .background{
    background: linear-gradient(180deg, #030D2A 0%, rgba(3, 13, 42, 0.85) 100%);
    width: 100vw;
    height: 100vw;
    z-index: -1;
    position: fixed;
} */

.Dwaight {
    padding-left: 55em;
    padding-top: 10em;
}

.header {
    padding-top: 1.25em;
    margin-left: 9.75em;
    padding-bottom: 0.35em;
    width: 100%;
    font-size: 1.8em;
    font-weight: 600;
    color: #030D2A;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(195, 191, 167);
    position: fixed;
}

.boxDashboard {
    padding: 1em;
    padding-top: 6em;
    margin-left: 17.5em;
    z-index: 1;
}