.Graphics {
    font: 1.5em 'Outfit', sans-serif;
    font-weight: 600;
    color: #030D2A;
    margin: 2em 2em 2em auto;
    /* Right align with top and bottom margin */
    margin-top: 1em;
    margin-bottom: 20px;
    width: 80%;
    /* Responsive width */
    max-width: 40vw;
    /* Max width for larger screens */
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 1em;
    box-sizing: border-box;

}

canvas {
    width: 10em;
    height: 10em;
    padding: 1em;
}

canvas {
    width: 100%;
    /* Full width of container */
    max-width: 100%;
    /* Ensure it doesn't overflow */
    height: auto;
    /* Maintain aspect ratio */
    padding: 1em;
}

select {
    margin-left: 0.5em;
    border: 1px solid #ddd;
    /* Subtle border */
    border-radius: 4px;
    /* Rounded corners */
    padding: 0.5em 1em;
    font-family: inherit;
    /* Consistent font */
    cursor: pointer;
    background-color: #f8f9fa;
    /* Light background */
    transition: all 0.3s ease;
    /* Smooth transition for interaction */
}

select:hover,
select:focus {
    border-color: #a4b0be;
    box-shadow: 0 0 0 3px rgba(164, 176, 190, 0.3);
    /* Subtle focus shadow */
}

/* Additional styles for the label and header */
h2 {
    color: #030D2A;
    font-size: 1.5em;
    margin-bottom: 1em;
}

label {
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 1em;
    display: block;
}