.ButtonWrapper {
    display: flex;
    justify-content: row;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.firstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    font: 1vw 'Outfit', sans-serif;
    color: white;
}

.num {
    font-size: 2em;
    font-weight: 700;
}

.ProjectedProfits {
    width: 30%;
    height: 6em;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-radius: 15px;
    background: linear-gradient(294deg, #79FF8E 50.04%, #94FFA5 100%);
    box-shadow: 0px 4px 10px 3px rgba(151, 236, 136, 0.4);
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ProjectedExpenses{
    width: 30%;
    height: 6em;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-radius: 15px;
    background: linear-gradient(294deg, #d20104 50.04%, #f5696b 100%);
    box-shadow: 0px 4px 10px 3px rgba(142, 136, 236, 0.30);
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProfitMargin{
    width: 30%;
    height: 6em;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-radius: 15px;
    background: linear-gradient(294deg, #8D87EB 50.04%, #c3c0fc 100%);
    box-shadow: 0px 4px 10px 3px rgba(142, 136, 236, 0.30);
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    
    font: 1vw 'Outfit', sans-serif;
    color: #030D2A;
}

.VATToBePayed, .CustomerAcquisitionCost, .AverageDealSize{
    width: 30%;
    height: 6em;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thirdLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    
    font: 1vw 'Outfit', sans-serif;
    color: #030D2A;
}

.ClientRetentionRate, .SalesCycleLength, .EmployeeTurnoverRate{
    width: 30%;
    height: 6em;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourthLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    
    font: 1vw 'Outfit', sans-serif;
    color: #030D2A;
}

.AverageRevenuePerMonth, .TotalRevenuePerYear{
    width: 30%;
    height: 6em;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder{
    width: 30%;
    height: 6em;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-radius: 15px;
    background: white;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}