.header {
    padding-top: 1.25em;
    margin-left: 9.75em;
    padding-bottom: 0.35em;
    width: 100%;
    font-size: 1.8em;
    font-weight: 600;
    color: #030D2A;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(195, 191, 167);
    position: fixed;
    background-color: white;
}

.MainSection {
    padding: 1em;
    padding-top: 6em;
    margin-left: 17.5em;
    z-index: 1;
}

.list {
    height: 20em;
    width: 100%;;
}

.expense-item{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 4px 10px #00000009;
    position: relative;
    padding: 15px;
    margin-right: 2em;
}