@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.BG {
    position: fixed;
    /* oder absolute, wenn Sie keinen Scroll wünschen */
    top: -7.5em;
    left: -5em;
    width: 100%;
    min-height: 112.5vh;
    z-index: -1;
}


.cms {
    position: fixed;
    top: 20%;
    right: 15em;
    width: 45em;
    height: auto;
    z-index: 1;
    background-repeat: no-repeat;
    animation: fadein 2s;
}

.logo {
    position: fixed;
    bottom: 3em;
    right: 3em;
    width: 11%;
    z-index: 1;
    height: auto;
    background-repeat: no-repeat;
    animation: fadein 2s;
}

.loginLP {
    position: fixed;
    width: 5em;
    top: 38em;
    right: 13em;
    z-index: 2;
    padding: 7.5px 20px;
    background-color: #959595;
    border: 2px solid #959595;
    /* White border */
    color: #FFF;
    font-style: normal;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    animation: fadein 2s;
    font: 1.2em 'Outfit', sans-serif;
    font-weight: 600;
}

.registerLP {
    position: fixed;
    width: 5em;
    top: 38em;
    right: 23em;
    z-index: 2;
    padding: 7.5px 20px;
    background-color: #030D2A;
    border: 2px solid #FFF;
    /* White border */
    color: #FFF;
    font-style: normal;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    animation: fadein 2s;
    font: 1.2em 'Outfit', sans-serif;
    font-weight: 600;
}

.loginLP:hover {
    background-color: #FFF;
    color: #030D2A;
}

.registerLP:hover {
    background-color: #FFF;
    color: #030D2A;
}

a:hover {
    color: #030D2A;
}

a {
    color: #FFF;
    font-style: bold;
    text-decoration: none;
}

.Rectangle1 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}