.navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(180deg, #030D2A 0%, rgba(3, 13, 42, 0.85) 100%);    /* light grey background */
    width: 250px;
    position: fixed;
}

.nav-link:hover {
    background-color: rgb(195, 191, 167);
    color: #030D2A;
}

.nav-link {
    padding: 10px 15px;
    margin: 5px 0;
    text-decoration: none;
    color: white;
    transition: .2s ease-in;
    border-radius: 40px;
}

.nav-link-active {
    font-weight: bold;
    font-size: larger;
    color: rgb(195, 191, 167);
}

.logoNB {
    padding-top: 2em;
    padding-bottom: 3em;
    width: 80%;
    align-self: center;
}

.sHeaders {
    color: rgb(195, 191, 167);
    padding-left: 0.5em;
    font-size: 12px;
    font-weight: 600;
    font: Outfit, sans-serif;
}